---
BasedOnStyle: LLVM
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: 'Yes'
ColumnLimit: '100'
IndentWidth: '4'
PointerAlignment: Left
SortIncludes: 'false'

...
