.vscode
.idea
build
__pycache__
*.so
*.dylib
**.egg-info
*~

# direnv
.direnv
.envrc

## Pytest output folder
.pytest_output/

## Samples output folder
output/

## Datasets folders during sample execution
data/datasets/

## local folder to store converted models
data/models
